# Connection string for the database
ASPNETCORE_APP_DB: 'User ID=postgres;Password=postgres;Server=app_db;Port=5430;Database=SampleDriverDb; Integrated Security=true;Pooling=true;'
# Port for the backend application
ASPNETCORE_APP_PORT: 8080
# Swagger configuration
ASPNETCORE_SHOW_SWAGGER_IN_PRODUCTION: 'true'

# Port for the frontend application
CLIENT_APP_PORTS: '3000:80'

# Port for the database
POSTGRES_PORT: 5430

